/* Global rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}
:root{
    --main-transition: 0.3s;
    --main-color:blueviolet;
    --gray-color:#919191;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

.btn{
    padding: 2px 25px;
    background-color: blueviolet;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    transition: var(--main-transition);
    width: fit-content;
    margin: 0 auto;

}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.233);
    background-color: rgb(111, 41, 177);
}

.title{
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin: 60px 0;
    font-size: 40px;
    font-weight: 600;
}

.where {
    background-color:#eee ;
    padding: 20px 0;
}

.where span{
    font-weight: bold;
}


/* start priject */


/* header */

header{
    background-color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 40px 0;
}


header .container .search input{
    border: none;
    padding: 5px;
    outline: none;
    font-size: 17px;
    margin-left: 20px;
}

header .container .logo h1{
    border: solid black 3px;
    padding: 0 5px;
    transform: translateX(-85px);
}


@media (max-width: 950px){
    header .container .logo h1{
        font-size: 20px;
    }
}

@media (max-width: 767px){
    header .container .logo h1{
        font-size: 14px;
    }
}



header .container .icons a{
    display: block;
}

header .container .icons{
    display: flex;
    align-items: center;
    gap:30px;
    color: #777;
    position: relative;
}

header .container .icons span{
    width: 25px;
    height: 25px;
    background-color: blueviolet;
    position: absolute;
    top: -16px;
    right: -21px;

    border-radius: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .icons i{
    font-size: 17px;
    cursor: pointer;
}

header .container .icons a{
    transition: var(--main-transition);
    position: relative;
}

header .container .icons a:hover{
    color: black;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-top: solid 1px #ddd;
}

@media (max-width: 767px){
    .nav{
        width: 100%;
    }
}

.nav li{
    cursor: pointer;
    transition: var(--main-transition);
}

.nav li:hover{
    color: blueviolet;
}

.nav li a{
    color: black;
    transition: var(--main-transition)
}

.nav li a:hover{
    color: var(--main-color);
}

.nav li a{
    position: relative;
    transition: var(--main-transition);
}

.nav li a .drop{
    display: none;
    position: absolute;
    z-index: 88;
    background-color: white;
    width: calc(100% + 90px);
    padding: 5px 0;
    box-shadow: 0 5px 13px -1px #3333;
    border-radius: 5px;
    color: black;
    opacity: 0;
    transition:  var(--main-transition);
    transform: translateY(15px);
    overflow: hidden;
}

.nav li a .drop::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;

}



.nav li a .drop li{
    padding: 10px 10px;
}

.nav li a .drop li:hover{
    background-color: #eee;
}

.nav li .home{
    transition: var(--main-transition);
}

.nav li .home:hover .drop{
    display: flex ;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
}

/* landing */

.landing{
    position: relative;
}

.landing img{
    max-width: 100%;
}




.landing .content{
    position: absolute;
    top: 50%;
    right: 85px;
    max-width: 400px;
    transform: translatey(-50%);
}



.landing .content h2{
    font-size: 55px;
    line-height: 1;
}
.landing .content p{
    margin: 25px 0;
    color: #777;
    font-weight: 400;
}

@media (max-width: 950px){
    
    .landing{
        background-color: RGB(166, 243, 237);
    }

    .landing img{
        display: none;
    }

    .landing .content{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 4%);
        padding: 60px 0;
        text-align: center;
        width: 100%;
    }

}


/* features */

.features .container{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
    flex-wrap: wrap;
}

.features .container .card{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-basis: calc(calc(100% / 3) - 20px );
}

.features .container .card i{
    font-size: 32px;
    color: blueviolet;
    margin-top: 13px;   
}

.features .container .card .text h3{
    font-size: 17px;
}


@media (max-width: 767px){
    .features .container{
        flex-direction: column;
    }
}


/* pics */

.pics .container{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

.pics .container .pic{
    position: relative;
    overflow: hidden;

}

.pics .container .pic img{
    width: 100%;
    height: calc(100% - 10px);
    position: relative;
    transition: var(--main-transition);
    scale: 1.1;
}

.pics .container .pic:hover img{
    scale: 1.2;
}

.pics .container .pic::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(0 0 0 / 76%), rgb(0 0 0 / 0%));
}

.pics .container .pic .text{
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: white;
    z-index: 1;
}

.pics .container .pic .text p{
    margin-bottom: -28px;
    font-size: 12px;
}


.pics .container .pic .text h3{
    font-size: 48px;
    font-weight: 400;
}

@media (max-width: 900px){
    .pics .container .pic .text h3{
        font-size: 37px;
        margin-top: 10px
    }
}


@media (max-width: 767px){
    .pics .container{
        flex-direction: column;
    }
}



/* products */

.products {
    background-color: #dddddd38;
    padding: 40px 0;
}

.products .title::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: blueviolet;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.products .container{
    display: flex;
    align-items: center;
    gap:30px;
}

.products .container .card{
    text-align: center;
    background-color: white;
    padding-bottom: 25px;
}

.products .container .card img{
    width: 100%;
}


.products .container .card .text h3{
    color: var(--main-color);
}

.products .container .card .text p{
    color: var(--gray-color);
}

.products .container .card .text p:last-child{
    color: var(--main-color);
    font-weight: 700;
}


@media (max-width: 767px){
    .products .container{
        flex-direction: column;
    }
}



/* sale */ 

.sale .title::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: blueviolet;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.sale{
    margin-bottom: 60px;
}
.sale .container{
    display: flex;
    gap: 40px;
    align-items: center;

}

.sale .container img{
    max-width: 650px;
}

.sale .container .text{
    text-align: center;
}

.sale .container .text h2{
    font-size: 35px;
    color: var(--main-color);
    font-weight: 600;
}

.sale .container .text .p{
    margin: 10px 0 40px 0;
    color: var(--gray-color);
    
}

.sale .container .text p span{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
} 


@media (max-width: 900px){

    .sale .container{
        margin-top: -44px;  
    }
    .sale .container img{
        display: none;
    }

}

/* footer */

footer {
    border-top: 1px solid #DDD;
    padding: 60px 0;
}

footer > p{
    margin: 0 auto;
    padding-top:40px ;
    width: fit-content;
    color: var(--gray-color);
}

footer > p span{
    color: var(--main-color);
    font-weight: bold;
}

footer .container{
    display: flex;
    justify-content: space-between;
    gap:40px;
    flex-wrap: wrap;

}

footer .container .f-part img{
    width: 300px;
}
footer .container .f-part li{
    cursor: pointer;
    margin-bottom: 10px;
}

footer .container .f-part h3{
    margin-bottom: 20px;
}

footer .container .f-part .nav-links{
    display: flex;
    gap: 40px;
}

footer .container .f-part .contact{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

footer .container .f-part .contact i{
    font-size: 20px;
    color: var(--main-color);

}
footer .container .f-part .Subscribe{
    display: flex;
    border: solid var(--gray-color) 1px;
    padding: 2px;
    border-radius: 5px;
    
}

footer .container .f-part .Subscribe input{
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 7px;
}


footer .container .f-part .Subscribe a{
    padding: 5px 20px;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
}

@media (max-width: 900px){
    footer .container{
        flex-direction: column;
    }

    footer .container .f-part .Subscribe{
        width: fit-content;
    }
}